<!DOCTYPE html>
<html>
    <head>
        <title>Matriculas</title>
        <meta name="viewport" content="wdth = device-width, initial-scale = 1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-1 col-md-3"></div>
                <div class="col-10 col-md6">
                    <br>
                    <img src="../images/logo.png" width="100%" alt="não carregou a imagem da pasta ../images/logo.png"/>
                </div>
                <div class="coll-1 col-3"></div>
            </div>
        </div>
        <br>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/home">/home</a>
            <button class="navbar-toggler" type="button" data-toogle="collapse" data-target="#navibarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Matriculas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="../crecheCreate">Cadastrar uma Nova Creche</a>
                        <a class="dropdown-item" href="../criancaCreate.html"> possivel item 2</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Usuarios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="../crecheCreate">Cadastrar um Novo Usuario</a>
                        <a class="dropdown-item" href="../criancaCreate.html"> Listar Usuarios</a>
                    </div>
                </li>
                <li class="/logout">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
        </nav>
        <br>
        <center>
                {{{body}}}
        </center>
    </body>
</html>